<div class="hero-unit">
	<div class="row">
		<div class="span8">
		<h1>Easy Meetings</h1>
		<p>Making it easy for others to know when you're free!</p>
		</div>
		<div class="span2">
			<ul class="thumbnails" >
				<li class="span3">
				<a href="#" class="thumbnail">
				<img src="/assets/logo-400.png" alt="" />
				</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4"><h2>Responsive</h2>
		<p>It's fast, because it really doesn't do much.  Like a particular secret-agent platypus you know know.</div>
	<div class="span4"><h2>Made with Bootstrap!</h2>
		<p>Because, at this point....what doesn't use it.</p></div>
	<div class="span4"><h2>And Ruby on Rails!</h2>
		<p>Yep, and because this is a demo site for an RoR class...it's made with RoR</div>
</div>