<div class="footer  well well-large">
<div>
<%= debug(params) if Rails.env.development? %>
</div>
<div class="content">
<p>&copy; 2013 - Dan Holmes, and probably everyone in this Intro to RoR class</p>
</div>
</div>
