<div class="footer  well well-large">
<div>
<% if Rails.env.development? %>
<%= debug(params)  %>
<%= debug(flash)  %>
<% if @current_user.nil? %>
<pre>Not logged in</pre>
<% else %>
<%= @current_user unless @current_user.nil? %>
<% end %>
<% end %>
</div>
<div class="content">
<p>&copy; 2013 - Dan Holmes, and probably everyone in this Intro to RoR class</p>
</div>
</div>